/build
/node_modules
.env
freshok-market-firebase-adminsdk-fbsvc-a25e9ae2ac.json
freshok-market-firebase-adminsdk-fbsvc-d0313b7ad7.json

sonorous-summer-364413-c2aa27d8ec6c.json
gpalette-uat-da7fef05dd53.json
freshok-market-prod-3e06755f1e30.json